.drawer {
    overflow : visible !important ;
    width : 25% !important ;
    height : 400px !important ;
}

.emoji-dialog {
    z-index : 1 !important  ;
    position : fixed !important ;
    top : 5% !important ;
    left : 0px !important ;
    margin-left : 25% !important ;
    height : 90% !important ;
}

.column {
    flex : 1 1 0 !important ;
}

.column, .drawer {
    contain : none !important ;
}


.drawer__header
{
    position : absolute !important ;
    left : 45% !important ;
    width : 20% !important ;
    margin-left : 1em !important ;
}


.search
{
    position : absolute !important ;
    width : 20% !important ;
    left : 25% !important ;
}

/* Homeの上に空間を開ける */
.column:nth-child(2) {
    margin-top : 60px !important ;
}

/* 通知欄を左下に */  
.column:nth-child(3) {
    position : fixed !important ;
    width : 25% !important ; 
    top : 390px !important ;
    height : 100% ;
    padding-left : 10px !important ;
}

/* リプライ、Retoot、Like、その他を消す */

div.status__action-bar {
    display : none ;
}

/* アカウントTLならば表示するようにしたいがうまい方法が思いつかない */

/* LTLのサイズ調整 */
.column:nth-child(3) + div {
    flex : 1 1 0 !important ;
}

/* 
注意！　ニコニコ連携へのリンクを消す。
ニコニコ連携をしたいときは一度ユーザーCSSを無効化すること
*/
div.nico-connect-account {
    display : none !important ;
}

/* アナウンスを消す */
ul.announcements {
    display : none !important ;
}

div.announcements__admin {
    display : none !important ;
}

div.column-icon.collapsable + div {
    overflow : scroll !important ;
}

/* アンケートを消す */
div.enquete-form {
    display : none !important ;
}

/* 画像を消す */
div.media-gallery {
    display : none !important ;
}
