.drawer {
    width : 25% !important ;
    height : 360px !important ;
}

.emoji-dialog {
    z-index : 1 !important  ;
    position : fixed !important ;
    top : 200px !important ;
    left : 0px !important ;
    margin-left : 25% !important ;
    height : 50% !important ;
}

.column {
    flex : 1 1 0 !important ;
}
    
.column:nth-child(3) {
    position : fixed !important ;
    width : 25% !important ; 
    margin-top : 350px !important ;
    height : 100% ;
    padding-left : 10px !important ;
}

/* 
注意！　ニコニコ連携へのリンクを消す。
ニコニコ連携をしたいときは一度ユーザーCSSを無効化すること
*/
div.nico-connect-account {
    display : none !important ;
}

div.column-icon.collapsable + div {
    overflow : scroll !important ;
}

